* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #373737;
  font-family: "Ubuntu", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.calculator {
  width: 350px;
  margin: 5rem auto;
  background-color: #fefefe;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0px 4px 0 hsla(0, 0%, 0%, 0.25);
}

.theme-toggle {
  background-color: #a9dcfd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-radius: 40px;
  margin: 3rem 0;
}

.theme-toggle div {
  padding: 0.5rem 1.3rem;
  cursor: pointer;
}

.active-toggle {
  border-radius: 40px;
  background-color: #d8eeff;
}

.output {
  width: 100%;
  margin: 4rem 0 1rem;
  padding: 0 2.5rem;
  font-size: 1.2rem;
}

.output__prev {
  display: flex;
  justify-content: flex-end;
}

.output__result {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.numpad {
  width: 100%;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  border-radius: 40px;
  background-color: #9ee8ff;
  box-shadow: 0 -4px 4px 0 hsla(0, 0%, 0%, 0.25);
}

.btn {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn:hover {
  background-color: #D8EEFF;
}

.top-buttons {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
}

.right-buttons {
  grid-row: 1 / 6;
  grid-column: 4 / 5;
  display: grid;
  width: 50px;
  gap: 0.8rem;
  /* grid-template-rows: repeat(5, 1fr); */
}

.right-buttons button {
  height: 50px;
}

.right-buttons button:last-child {
  border-radius: 50%;
  background-color: #D8EEFF;
}

.right-buttons, .top-buttons {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 3px 15px 0 hsla(0, 0%, 0%, 0.05);
}

.op-btn {
  background: transparent;
}

.num-btn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
}

@media screen and (max-width: 375px) {
  .calculator {
    width: 300px;
  }
}