:root {
  --text-color: #373737;
  --output-back-color: #fefefe;
  --toggle-background-color: #a9dcfd;
  --active-toggle-color: #d8eeff;
  --numpad-background-color: #9ee8ff;
  --btn-background-color: rgba(255, 255, 255, 0.3);
  --btn-hover-color: #D8EEFF;
  --box-shadow-color: hsla(0, 0%, 0%, 0.25);
}

.dark-mode {
  --text-color: #FBFBFB;
  --output-back-color: #252628;
  --toggle-background-color: #003661;
  --active-toggle-color: #1B6A9C;
  --numpad-background-color: #0F2F6B;
  --btn-background-color: rgba(5, 5, 5, 0.3);
  --btn-hover-color: rgba(5, 5, 5, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #57606f 74%);
}

button {
  cursor: pointer;
  border: none;
  color: var(--text-color);
}

.calculator {
  width: 350px;
  margin: 5rem auto;
  background-color: var(--output-back-color);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0px 4px 0 var(--box-shadow-color);
}

.theme-toggle {
  background-color: var(--toggle-background-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border-radius: 40px;
  margin: 3rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.theme-toggle div {
  padding: 0.5rem 1.3rem;
  cursor: pointer;
}

.active-toggle {
  border-radius: 40px;
  background-color: var(--active-toggle-color);
}

.output {
  width: 100%;
  margin: 4rem 0 1rem;
  padding: 0 2.5rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.output__prev {
  display: flex;
  justify-content: flex-end;
}

.output__result {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.numpad {
  width: 100%;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  border-radius: 40px;
  background-color: var(--numpad-background-color);
  box-shadow: 0 -4px 4px 0 var(--box-shadow-color);
}

.btn {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.top-buttons {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
}

.right-buttons {
  grid-row: 1 / 6;
  grid-column: 4 / 5;
  display: grid;
  width: 50px;
  gap: 0.8rem;
}

.right-buttons button {
  height: 50px;
}

.right-buttons button:last-child {
  border-radius: 50%;
  background-color: var(--btn-hover-color);
}

.right-buttons, .top-buttons {
  background-color: var(--btn-background-color);
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 3px 15px 0 hsla(0, 0%, 0%, 0.05);
}

.op-btn {
  background: transparent;
}

.num-btn {
  background-color: var(--btn-background-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 4px 0 var(--box-shadow-color);
}

@media screen and (max-width: 375px) {
  .calculator {
    width: 300px;
  }
  .output {
    padding: 0 2rem;
  }
}